*.ba*
/*.bak
/_build
/_build/
/*.byte
*.clib
/configure
/*.docdir
/Makefile
META
*.mldylib
*.mllib
*.mlpack
/myocamlbuild.ml
myocamlbuild.ml
/*.native
*.odocl
/setup.data
/setup.log
/setup.ml
/_tags
/python/*.pyc
/python/bap.egg-info/
/lib/bap_types/bap_config.ml
/postinstall.ml
