*.ba*
*.clib
*.mldylib
*.mllib
*.mlpack
*.odocl
/*.1
/*.bak
/*.byte
/*.docdir
/*.native
/Makefile
/_build/
/_tags
/configure
/doc
/lib/bap_types/bap_config.ml
/myocamlbuild.ml
/postinstall.ml
/python/*.pyc
/python/bap.egg-info
/setup.data
/setup.log
/setup.ml
META
