*.ba*
*.clib
*.mldylib
*.mllib
*.mlpack
*.odocl
/*.1
/*.bak
/*.byte
/*.docdir
/*.native
/Makefile
/_build/
/_tags
/configure
/doc
/lib/bap_types/bap_config.ml
/myocamlbuild.ml
/postinstall.ml
/python/*.pyc
/python/bap.egg-info
/setup.data
/setup.log
/setup.ml
META
_oasis
/bap_config.ml
/man/bap-mc.1
/man/bap-byteweight.1
/man/bap.1
/lib/bap_config/bap_config.ml
/lib/bap_llvm/bap_llvm_config.ml
/plugins/ida/bap_ida_config.ml
/plugins/objdump/objdump_config.ml
/plugins/api/api_config.ml
/plugins/primus_lisp/primus_lisp_config.ml