language: c
script: bash -ex .travis-opam.sh
sudo: false
cache:
  directories:
    - $HOME/.opam
  before_cache:
    - opam remove bap -y
    - rm -rf $HOME/.opam/log
addons:
  apt:
    sources:
    - avsm
    packages:
    - camlp4
    - camlp4-extra
    - clang
    - curl
    - libcurl4-gnutls-dev
    - libgmp-dev
    - libssl-dev
    - libzip-dev
    - llvm
    - llvm-3.4-dev
    - m4
    - ocaml
    - ocaml-base
    - ocaml-base-nox
    - ocaml-compiler-libs
    - ocaml-native-compilers
    - ocaml-nox
    - time
    - aspcud
    - dejagnu
env:
  global:
  - FORK_USER=talex5
  - FORK_BRANCH=containers
  - OPAMYES=true
  - PACKAGE=bap
  - OPAM_SWITCH=$OCAML_VERSION
  - TESTS=false
  - BAP_RUN_TEST=true
  - BAP_RUN_CHECK=true
  matrix:
  - OCAML_VERSION=system
  - OCAML_VERSION=4.03.0
  - OCAML_VERSION=4.04.0
