language: c

sudo: required

addons:
  apt:
    sources:
    - avsm
    packages:
    - camlp4
    - camlp4-extra
    - clang
    - curl
    - libcurl4-gnutls-dev
    - libgmp-dev
    - libssl-dev
    - libzip-dev
    - llvm
    - llvm-3.8-dev
    - m4
    - ocaml
    - ocaml-base
    - ocaml-base-nox
    - ocaml-compiler-libs
    - ocaml-native-compilers
    - ocaml-nox
    - time
    - aspcud
    - dejagnu
    - jq
    - opam

cache:
  directories:
  - $HOME/.opam
  - $HOME/save_opam
  before_cache:
  - rm -rf $HOME/.opam/log

env:
  - OPAM_VERSION=1.2.2 OCAML_VERSION=4.03
  - OPAM_VERSION=1.2.2 OCAML_VERSION=4.04
  - OPAM_VERSION=1.2.2 OCAML_VERSION=4.05 WITH_BUILD_CACHE=true

stage: Compile
script: bash -ex .travis_install.sh

jobs:
  include:
  - stage: Unit tests, checks and bil tests
    env:
    - OPAM_VERSION=1.2.2 OCAML_VERSION=4.05 WITH_BUILD_CACHE=true
    script: bash -ex .run_travis_tests.sh unit_tests
  - stage: Unit tests, checks and bil tests
    env:
    - OPAM_VERSION=1.2.2 OCAML_VERSION=4.05 WITH_BUILD_CACHE=true
    script: bash -ex .run_travis_tests.sh checks
  - stage: Unit tests, checks and bil tests
    env:
    - OPAM_VERSION=1.2.2 OCAML_VERSION=4.05 WITH_BUILD_CACHE=true
    script: bash -ex .run_travis_tests.sh veri