[project]
	description = Binary Analysis Platform Meta-Project\n\
\n\
This project serves to provide working sets of the various bap components via git submodules.
[receive]
	requireSignedOffBy = false
[access "refs/heads/master"]
	submit = group ldap/aegis
	submit = group ldap/okahn
	submit = group ldap/penn
	submit = group ldap/vincenth
	submit = group user/Dominick DiRenzo (ddirenzo)
	label-Code-Review = -2..+2 group user/Maverick Woo (maverick)
	read = group ldap/aegis
	read = group ldap/okahn
	read = group ldap/penn
	read = group ldap/vincenth
	read = group user/Dominick DiRenzo (ddirenzo)
	abandon = group ldap/aegis
	abandon = group ldap/okahn
	abandon = group ldap/penn
	abandon = group ldap/vincenth
	abandon = group user/Dominick DiRenzo (ddirenzo)
[access "refs/*"]
	read = group bap-read-only
	read = group ldap/aegis
	read = group ldap/intern
	read = group ldap/penn
[access "refs/meta/config"]
	read = group ldap/aegis
	read = group ldap/intern
	read = group ldap/penn
