[project]
	description = Binary Analysis Platform Meta-Project\n\
\n\
This project serves to provide working sets of the various bap components via git submodules.
[receive]
	requireSignedOffBy = false
[access "refs/heads/master"]
	submit = group Registered Users
	label-Code-Review = -2..+2 group geohot
	label-Code-Review = -2..+2 group user/Ivan Gotovchits (ivg)
	label-Code-Review = -2..+2 group user/Matthew Maurer (maurer)
	read = group Registered Users
	abandon = group Registered Users
	label-Verified = -1..+1 group user/Matthew Maurer (maurer)
[access "refs/*"]
	read = group Registered Users
