[project]
	description = Binary Analysis Platform Meta-Project\n\
\n\
This project serves to provide working sets of the various bap components via git submodules.
[receive]
	requireSignedOffBy = false
[access "refs/heads/master"]
	submit = group ldap/aegis
	label-Code-Review = -2..+2 group user/Maverick Woo (maverick)
	read = group ldap/aegis
	abandon = group ldap/aegis
[access "refs/*"]
	read = group ldap/aegis
