name: build-oasis-ocamlbuild

on:
  - pull_request

jobs:
  build:
    strategy:
      matrix:
          os:
            - ubuntu-latest
            - macos-latest
          ocaml-version:
            - 4.09.1
            - 4.08.1
            - 4.07.1

    runs-on: ${{ matrix.os }}

    env:
      XDG_CACHE_HOME: .cache
      TMPDIR: /tmp
      BAP_LOG_DIR: /tmp/bap-log
      OPAMJOBS: 2

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Pin BAP
        run: opam pin add bap . --no-action

      - name: Configure Homebrew LLVM
        if: matrix.os == 'macos-latest'
        run: echo '::set-env name=LLVM_CONFIG::/usr/local/opt/llvm@9/bin/llvm-config'

      - name: Install system dependencies
        run: opam depext bap --yes

      - name: Install opam dependencies
        run: opam install bap --yes --deps-only

      - name: Build and Install BAP
        run: opam install bap -v --yes --with-test

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: opam-log
          path: ~/.opam/log
