name: build-from-opam
on:
  - push

jobs:
  build:
    strategy:
      matrix:
        ocaml-compiler:
          - 4.11.x
          - 4.08.x

    runs-on: ubuntu-latest

    env:
      OPAMJOBS: 2
      OPAMRETRES: 8

    steps:
      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - name: Add the testing Repository
        run: opam repo add bap git://github.com/BinaryAnalysisPlatform/opam-repository#testing

      - name: Install system dependencies
        run: opam depext -u bap

      - name: Cleanup the Caches
        run: sudo apt clean --yes

      - name: Check the Space
        run: df -h

      - name: Build and Install BAP Packages
        run: opam clean -a; opam install bap

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: opam-log-${{ matrix.ocaml-compiler }}
          path: ~/.opam/log
