name: main
run-name: Testing main packages in ${{ github.ref }}
on:
  - pull_request

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-20.04
          - macos-11
        ocaml-compiler:
          - 4.08.x
          - 4.14.x
        exclude:
          - os: macos-11
            ocaml-compiler: 4.08.x


    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'macos-11'}}

    env:
      TMPDIR: /tmp
      XDG_CACHE_HOME: /tmp/cache
      BAP_LOG_DIR: /tmp/bap-log
      OPAMJOBS: 2
      OPAMRETRES: 8

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare Ubuntu
        if: matrix.os == 'ubuntu-20.04'
        run: |
          sudo apt-get update -y
          sudo apt-get install dejagnu -y

      - name: Prepare macOS
        if: matrix.os == 'macos-11'
        run: |
          echo 'LLVM_CONFIG=/usr/local/opt/llvm@9/bin/llvm-config' >> $GITHUB_ENV
          brew install deja-gnu

      - name: Install OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{  matrix.os != 'macos-11' }}
          opam-disable-sandboxing: true
          opam-local-packages: |
            *.opam
            !bap-extra.opam
            !bap-radare2.opam
            !bap-ghidra.opam
            !bap-primus-symbolic-executor.opam
            !bap-ida.opam
          opam-repositories: |
            default: git+https://github.com/ocaml/opam-repository.git
            bap: git+https://github.com/BinaryAnalysisPlatform/opam-repository#testing

      - name: Build BAP
        run: opam install bap.dev --with-test

      - name: Run MC Functional Tests
        run: |
          opam exec -- make TOOLS=mc check

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: bap-log
          path: ~/.local/state/bap

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: unit-tests-log
          path: _build/default/lib_test/*/oUnit-*.log

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: fun-tests-log
          path: |
            testsuite/*.log
            testsuite/logs
