name: nightly
run-name: Running nightly tests on ${{ github.sha }}

on:
  schedule:
    - cron: "0 6 * * *" # Every day at 06:00 UTC, 2 am EDT
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-20.04
        ocaml-compiler:
          - 4.14.x
          - 4.08.x

    runs-on: ${{ matrix.os }}

    env:
      OPAMJOBS: 2
      OPAMRETRES: 8

    steps:
      - name: Install Extra System Dependencies
        run: |
          sudo add-apt-repository ppa:ivg/ghidra -y
          sudo apt-get update -y
          sudo apt-get install libghidra-dev -y
          sudo apt-get install libghidra-data -y
          sudo apt-get install dejagnu -y

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: ${{  matrix.os != 'macos-11' }}
          opam-disable-sandboxing: true
          opam-repositories: |
            default: git+https://github.com/ocaml/opam-repository.git
            bap: git+https://github.com/BinaryAnalysisPlatform/opam-repository#testing

      - name: Build and Install BAP
        run: opam install bap-extra bap-radare2

      - name: Checkout the Tests
        uses: actions/checkout@v4
        with:
          repository: BinaryAnalysisPlatform/bap

      - name: Run Functional Tests
        run: opam exec -- make check

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: opam-log-${{ matrix.os }}-${{ matrix.ocaml-compiler }}
          path: ~/.opam/log

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: bap-log-${{ matrix.os }}-${{ matrix.ocaml-compiler }}
          path: ~/.local/state/bap

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: unit-tests-log-${{ matrix.os }}-${{ matrix.ocaml-compiler }}
          path: _build/oUnit-*.log

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: fun-tests-log-${{ matrix.os }}-${{ matrix.ocaml-compiler }}
          path: |
            testsuite/*.log
            testsuite/logs
