name: opam
run-name: Installing ${{ github.ref }} from opam
on:
  - push

jobs:
  build:
    strategy:
      matrix:
        ocaml-compiler:
          - 4.14.x
          - 4.08.x

    runs-on: ubuntu-20.04

    env:
      OPAMJOBS: 2
      OPAMRETRES: 8

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ghidra and Dejagnu
        run: |
          sudo add-apt-repository ppa:ivg/ghidra -y
          sudo apt-get update -y
          sudo apt-get install libghidra-dev -y
          sudo apt-get install libghidra-data -y
          sudo apt-get install dejagnu -y

      - name: Install OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          opam-disable-sandboxing: true
          opam-repositories: |
            default: git+https://github.com/ocaml/opam-repository.git
            bap: git+https://github.com/BinaryAnalysisPlatform/opam-repository#testing

      - name: Install bap-extra
        run: opam install bap-extra

      - name: Run functional tests
        run: opam exec -- make check

      - uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: opam-log-${{ matrix.ocaml-compiler }}
          path: ~/.opam/log
