name: Publish Docker
on:
  schedule:
    - cron: "0 4 * * *" # Every day at 4:00 a.m. UTC, midnight EDT

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Publish Ubuntu image to Registry
        uses: docker/build-push-action@v2
        with:
          tags: binaryanalysisplatform/bap:latest
          file: docker/ubuntu/xenial/Dockerfile
